body{
    width: 100%;
    height:auto;
    padding: 0;
    margin: 0;
}


.section1{
    width: 80%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
   
}


.section1 .head{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    position: relative;
}


.section1 .head .logo{
    padding-left: 240px;
    cursor: pointer;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    margin-top: -30px;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    background-color:white;
    font-size: 15px;
    height: 40px;
    font-weight: bold;
    width: 100px;
    border: 1px solid white;
    color:black;
    float: left;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;


}

.navbar ul li a{
    color:black;
    text-decoration: none;
    text-align: center;
    opacity: 0.8;
}

.navbar ul li:hover{
    background-color: white;
    transition: all ease-in 2s ;

}

.navbar ul ul{
    display: none;
}
.navbar ul li:hover>ul{
    display: block;
}


.section1 .head .btn{
    padding: 7px 20px;
    background-color: #081158;
    border: 1px solid #081158;
    color: #FBB244;
    border-radius: 30px;
    margin-top: -10px;
}


.section1 .head .btn:hover{
    background-color: white;
    color: black;
}


.section2{
    width: 100%;
    height: auto;
}


.section2 .welcome{
    width: 100%;
    padding-top: 100px;
    display: flex;
    float: left;
}


.section2 .welcome .seo{
    width: 50%;
    padding-left: 250px;
    padding-right: 130px;
}


.section2 .welcome .seo .btn1{
    padding: 10px 15px;
    outline: none;
    border-radius: 30px;
    border: 1px solid white;
    color: #FBB244;
    font-size: 20px;
}



.section2 .welcome .seo h1{
    font-size: 45px;
    margin-right: 200px;
    color: #081158;
}



.section2 .welcome .seo p{
    opacity: 1;
    color: #FBB244;
}


.section2 .welcome .seo .btn2{
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #081158;
    background-color: #081158;
    color: white;
    font-size: 15px;
}


.section2 .welcome .seo .btn2:hover{
    background-color: white;
    color: #081158;
}



.section2 .welcome .seo .btn3{
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #081158;
    background-color:white;
    color: #081158;
    font-size: 15px;
}


.section2 .welcome .seo .btn3:hover{
background-color: #081158;
color: white;
}



.section2 .welcome .img1{
    width: 50%;
  height: 300px;

}


.section2 .welcome .img1 img{
    width: 80%;
}


.section3{
    width: 100%;
    padding-top: 600px;
    height: auto;
}


.section3 .Features{
    width: 40%;
    margin: 0 auto;
}


.section3 .Features .btn4{
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid white;
    color: #FBB244;
    font-size: 20px;
    margin-left: 250px;
}


.section3 .Features h1{
    font-size: 40px;
    color: #081158;
    padding-left: 190px;
    white-space: 5px;
}


.section3 .Features h3{
    opacity: .5;
    word-spacing: 2px;
}


.section4{
    width: 100%;
    padding-top: 100px;
    height: auto;
}


.section4 .marketing{
    display: flex;
    width: 70%;
    margin: 0 auto;
}


.section4 .marketing .icon{
    width:20%;
    padding-left: 100px;
    padding-right: 50px;
}


.section4 .marketing .icon i{
    font-size: 40px;
    padding-left: 80px;
    opacity: .5;
}


.section4 .marketing .icon h1{
    font-size: 25px;
}


.section4 .marketing .icon p{
    opacity: .5;
}


.section5{
    width: 100%;
    padding-top: 130px;
    
}


.section5 .why{
    display: flex;
    width: 100%;
    float: left;
    justify-content: space-between;
    padding-bottom: 100px;
}


.section5 .why .img2{
    width: 50%;
    height: 300px;
}


.section5 .why .img2 img{
    width: 90%;
    height: auto;
    padding-left: 300px;
}



.section5 .why .alt{
    width: 50%;
    padding-left: 300px;
}


.section5 .why .alt .btn6{
    padding: 5px 20px;
    border: 1px solid white;
    color: #FBB244;
    font-weight: bold;
    border-radius: 30px;
    background-color: #f5e5ca;
}



.section5 .why .alt h1{
    font-size: 40px;
    color: #081158;
}


.section5 .why .alt p{
    opacity: 0.5;  
}


.section5 .why .alt .abc{
    opacity: 0.5;
}



.section5 .why .alt .btn7{
    padding: 15px 25px;
    border: 1px solid #081158;
    border-radius: 30px;
    background-color: #081158;
    color: white;
    font-weight: bold;
}


.section5 .why .alt .btn7:hover{
    background-color: white;
    color: #081158;
}


.section6{
    width: 100%;
    box-sizing: border-box;
}


.section6 .ourservice{
    margin-top: 600px;
    text-align: center;
    line-height: 5px;
}


.section6 .ourservice .btn8{
    font-size: 10px;
    padding: 5px 20px;
    border: 1px solid white;
    color: #FBB244;
    font-weight: bold;
    border-radius: 30px;
    background-color: #f5e5ca;
}



.section6 .ourservice h1{
    font-size: 40px;
    color: #081158;
    letter-spacing: 1px;
}


.section7{
    width: 100%;
    height: 700px;
}


.section7 .sera{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    margin: 0 auto;
    width: 50%;
    height: auto;
    justify-items: center;

}


.section7 .sera div{
 border: 1PX solid #f5e5ca;
 padding: 20PX;
 margin-top:-10PX;
}

.section7 .sera i{
    font-size: 40px;
    opacity: .5;
}


.section8{
    width: 100%;
    height: 300px;
}


.section8 .Testimonials{
    width: 100%;
    padding-top: 200px;
    text-align: center;
    padding-bottom: 100px;
}


.section8 .Testimonials .btn9{
    padding: 10px 15px;
    border: 1px solid white;
    background-color: #fae9cf;
    color: #e6941a;
    font-weight: bold;
    border-radius: 30px;
}


.section8 .Testimonials h1{
    font-size: 50px;
    color: #081158;
}


.section8 .Testimonials p{
    opacity: 0.5;
}



.section9{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
}


.section9 .spech{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap: 40px;
    justify-content: center;
    padding-left: 200px;
}


.section9 .spech div{
    padding: 20px;
    
    background-color: white;
    box-shadow: 1px 1px 3px 3px rgb(233, 225, 225);
}


.section9 .spech p{
    font-size: 25px;
    opacity: .5;
}


.section9 .spech h3{
    opacity: .5;
    color: red;
}


.section10{
    width: 100%;
    padding-top: 100px;
}


.section10 .foot{
    display: flex;
    width: 80%;
}


.section10 .foot .foot1{
    width: 40%;
    padding-left: 200px;

}


.section10 .foot .foot1 h1{
    font-size: 20px;
}


.section10 .foot .foot1 p{
    opacity: .5;
}


.section10 .foot .foot1 i{
    font-size: 30px;
    cursor: pointer;
    padding: 2px;
}


.section10 .foot .foot1 i:hover{
    color: #081158;
    transform: scale(1.3);
    transition: all 0.5s ease-in;
}


.section10 .foot .foot2{
    width: 20%;
}


.section10 .foot .foot2 h1{
    font-size: 20px;
}


.section10 .foot .foot2 p{
    opacity: .5;
}


.section10 .foot .foot3{
    width: 20%;
}


.section10 .foot .foot3 h1{
    font-size: 20px;
}

.section10 .foot .foot3 p{
    opacity: .5;
}



.section10 .foot .foot4{
    width: 30%;
}


.section10 .foot .foot4 h1{
    font-size: 20px;
}


.section10 .foot .foot4 a{
 opacity: .5;
 text-decoration: none;
 color: black;
}



.section11{
    padding-top: 50px;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}


.section11 .footer{
 text-align: center;
}

