body{
    width: 100%;
    height:auto;
    padding: 0;
    margin: 0;
}


.section1{
    width: 80%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
   
}


.section1 .head{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    position: relative;
}


.section1 .head .logo{
    padding-left: 240px;
    cursor: pointer;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    margin-top: -30px;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    background-color:white;
    font-size: 15px;
    height: 40px;
    font-weight: bold;
    width: 100px;
    border: 1px solid white;
    color:black;
    float: left;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;


}

.navbar ul li a{
    color:black;
    text-decoration: none;
    text-align: center;
    opacity: 0.8;
}

.navbar ul li:hover{
    background-color: white;
    transition: all ease-in 2s ;

}

.navbar ul ul{
    display: none;
}
.navbar ul li:hover>ul{
    display: block;
}


.section1 .head .btn{
    padding: 7px 20px;
    background-color: #081158;
    border: 1px solid #081158;
    color: #FBB244;
    border-radius: 30px;
    margin-top: -10px;
}


.section1 .head .btn:hover{
    background-color: white;
    color: black;
}


.section2{
    width: 100%;
    height: auto;
}


.section2 .welcome{
    width: 100%;
    padding-top: 100px;
    display: flex;
    float: left;
}


.section2 .welcome .seo{
    width: 50%;
    padding-left: 250px;
    padding-right: 130px;
}


.section2 .welcome .seo .btn1{
    padding: 10px 15px;
    outline: none;
    border-radius: 30px;
    border: 1px solid white;
    color: #FBB244;
    font-size: 20px;
}



.section2 .welcome .seo h1{
    font-size: 45px;
    margin-right: 200px;
    color: #081158;
}



.section2 .welcome .seo p{
    opacity: 1;
    color: #FBB244;
}


.section2 .welcome .seo .btn2{
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #081158;
    background-color: #081158;
    color: white;
    font-size: 15px;
}


.section2 .welcome .seo .btn2:hover{
    background-color: white;
    color: #081158;
}



.section2 .welcome .seo .btn3{
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #081158;
    background-color:white;
    color: #081158;
    font-size: 15px;
}


.section2 .welcome .seo .btn3:hover{
background-color: #081158;
color: white;
}



.section2 .welcome .img1{
    width: 50%;
  height: 300px;

}


.section2 .welcome .img1 img{
    width: 80%;
}


.section3{
    width: 100%;
    padding-top: 600px;
    height: auto;
}


.section3 .Features{
    width: 40%;
    margin: 0 auto;
}


.section3 .Features .btn4{
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid white;
    color: #FBB244;
    font-size: 20px;
    margin-left: 250px;
}


.section3 .Features h1{
    font-size: 40px;
    color: #081158;
    padding-left: 190px;
    white-space: 5px;
}


.section3 .Features h3{
    opacity: .5;
    word-spacing: 2px;
}


.section4{
    width: 100%;
    padding-top: 100px;
    height: auto;
}


.section4 .marketing{
    display: flex;
    width: 70%;
    margin: 0 auto;
}


.section4 .marketing .icon{
    width:20%;
    padding-left: 100px;
    padding-right: 50px;
}


.section4 .marketing .icon i{
    font-size: 40px;
    padding-left: 80px;
    opacity: .5;
}


.section4 .marketing .icon h1{
    font-size: 25px;
}


.section4 .marketing .icon p{
    opacity: .5;
}
